* {
    font-family: 'Arial', sans-serif;
    max-width: 100%;
    background-color: white;
}
header{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;}
    .logo {
        font-size: 1.5em;
        color: #333;
    }
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}
#scoreDisplay {
    float: left;
    color: darkcyan;
  }
  
  #scoreDisplay:hover {
    background-color: #ddd;
    color: black;
  }
  
  #timerDisplay {
    color: darkcyan;
    float: right;
    }
  
  #timerDisplay:hover
  {
    background-color: #ddd;
    color: black;
  }
  button {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }