body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}
#quiz {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.answer {
  display: flex;
  flex-direction: column;
}
.btn {
  background-color: #7d47a5;
  color: white;
  border: none;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 12px
}
.btn:hover {
  background-color: #5f2d6b;
}
#high-scores {
  margin-top: 20px;
  text-align: center;
}
